---
interface Props {
  href: string;
}

const { href } = Astro.props;
---

<button class="backbutton">
  <a href={href}>
    戻る
  </a>
</button>

<style>
  button {
    padding: 0;
  }

  .backbutton {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100px;
      /* margin: 10px; */
      border: none;
      border-radius: 5px;
      background-color: #3B6B92;
  }

  .backbutton a {
    width: 100%;
    padding: .5em 1.5em;
    font-size: 1.2em;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
  }

  @media screen and (max-width: 480px) {
    .backbutton a {
      font-size: 1em;
    }
  }

  .backbutton:hover {
      background-color: #406583;
      opacity: 0.8;
  }
</style>