---
---

<div class="footer-area">
  <div class="footer-link-area">
    <ul class="footer-link">
      <li>
        <a href="https://yusei-qqq.hatenablog.com/" target="_blank" rel="noopener noreferrer">
          旧ブログ
        </a>
      </li>
      <li>
        <a href="https://yusei-note.notion.site/f596b04458954aeca7d19c01081bda3f">
          プライバシーポリシー
        </a>
      </li>
      <li>
        <a href="https://forms.gle/SGYAkqbsXHHJgBgi6" target="_blank" rel="noopener noreferrer">
          お問い合わせ
        </a>
      </li>
    </ul>
  </div>
  <p>author: <a class="author-link" href="https://twitter.com/yuseiqqq">まっきー</a></p>
  <p>&copy;2023 Deep in Deep</p>
</div>

<style>
  .footer-area {
    padding: 1.5rem;
    margin-top: 2rem;
    text-align: center;
    background-color: #ccc;
  }
  .footer-link-area {
    text-align: center;
  }
  .footer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 0;
  }
  .footer-link li {
    margin: 0 2rem;
    padding-bottom: 1rem;
  }
  .footer-link li a {
    text-decoration: none;
    color: #666;
    font-weight: bold;
  }
  .footer-link li a:hover {
    color: rgb(var(--accent));
  }
  .author-link {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
</style>