---
---

<div class="footer-area">
  <p>&copy;2023 Yusei Note</p>
  <p>author: <a href="https://twitter.com/yuseiqqq">まっきー</a></p>
</div>

<style>
  .footer-area {
    padding: 1.5rem;
    text-align: center;
    background-color: #ccc;
  }
</style>