---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---
<div class="header-area">
  <h1><a href="/">{title}</a></h1>
</div>

<style>
  h1 {
    font-size: 3rem;
    font-weight: 800;
    margin-bottom: 2rem;
  }
  a {
    text-decoration: none;
    color: #333
  }
  a:hover {
    color: rgb(var(--accent));
  }
  .header-area {
    text-align: center;
  }
</style>
